body{
    margin: 0;
    padding: 0;
    background: url(../IMG/1.jpg);
    background-size: cover;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main i{
    /* width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    left: 50%;
    top: -60px;
    transform: translate(-50%);
    font-size: 40px;
    color: white;
    border-radius: 50%;
    border: 3px solid white;
    text-align: center;
    padding: 10px;
}

.main .con{
    background-color: rgba(255, 255, 255, 0.7);
    /* width: 400px; */
    width: 400px;
    height: 300px;
    margin: 30px;
    box-shadow: 0 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 5px 30px;
}
.main .con .txt{
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
.main .con .txt2{
    width: 100%;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.main .con .txt2 p{
    padding: 0;
    margin: 0;
}
.main .con .bu{
    /* margin: 20px; */
    /* float: left; */
    /* vertical-align: top; */
    /* line-height: 32px; */
    display: flex;
    position: relative;
    margin-top: 15px;
}
.main .con .bu .span1 {
    flex: 1;
    width: 200px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
    top: 0;
}
.main .con .bu .span1 #item_name{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.main .con .bu .span2{
    flex: 1;
    width: 100px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: calc(100% - 100px);
}
.main .con .bu .span2 #add{
    width: 100%;
    height: 100%;
}